<h1 class="title">Timely</h1>

<div class="flex-container" *ngIf="sessions.length != 0; else elseBlock">
  <div
    *ngIf="sessions.at(sessions.length - 1)?.project != null; else elseBlock2"
  >
    <button
      (click)="addProject()"
      class="btn btn-light  flex-item"
      type="button"
    >
      Start
    </button>
  </div>
  <ng-template #elseBlock2>
    <button
      (click)="openDialog()"
      class="btn btn-light flex-item"
      type="button"
    >
      Stop
    </button>
  </ng-template>
  <table class=" border table table-striped">
    <thead>
      <tr>
        <th>Project</th>
        <th>Start</th>
        <th>Stop</th>
        <th>Duration</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let session of sessions">
        <td>{{ session.project }}</td>
        <td>{{ session.start }}</td>
        <td *ngIf="session.stop == null">{{ session.stop }}</td>
        <td>{{ session.duration }}</td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #elseBlock class="flex-container">
  <button (click)="addProject()" class="startButton flex-item" type="button">
    Start
  </button>
</ng-template>
